﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Score/Index" method="post">
    <h1>分數代碼查詢</h1>
    請輸入分數：
    <input type="text" name="score" value="" /><br />

    <input type="submit" value="查詢" />
</form>
<br />
查詢結果<br>
分數： @ViewBag.score <br />
代碼： @ViewBag.code

